# This file is part of the EESSI filesystem layer,
# see https://github.com/EESSI/filesystem-layer
#
# author: Thomas Roeblitz (@trz42)
#
# license: GPLv2
#

[flake8]
exclude =
    scripts/check-stratum-servers.py,
    scripts/automated_ingestion/automated_ingestion.py,
    scripts/automated_ingestion/eessitarball.py,
    scripts/automated_ingestion/utils.py,
    scripts/automated_ingestion/unit_tests/*.py

# ignore "Black would make changes" produced by flake8-black
# see also https://github.com/houndci/hound/issues/1769
extend-ignore = BLK100

max-line-length = 120
