[submodule "roles/galaxyproject.cvmfs"]
	path = roles/cvmfs
	url = https://github.com/galaxyproject/ansible-cvmfs
[submodule "roles/geerlingguy.repo-epel"]
	path = roles/geerlingguy.repo-epel
	url = https://github.com/geerlingguy/ansible-role-repo-epel
