[cvmfsstratum0servers]
your-stratum0.org

[cvmfsstratum1servers]
your-stratum1.org

[cvmfslocalproxies]
your-proxy-1
your-proxy-2

[cvmfslocalproxies:vars]
# List of clients allowed to access the proxy.
# Add individual IPs and/or use CIDR notation.
cvmfs_localproxy_allowed_clients = ["192.168.0.0/12", "10.0.0.15"]

[cvmfsclients]
your-client-1
your-client-2

[cvmfsclients:vars]
# List of all http proxies that should be configured for the clients.
# Remove or comment the line if you do not want to use a proxy; in this
# case it will be set to "DIRECT" in the client configuration.
cvmfs_http_proxies = ["your-proxy-1:3128", "your-proxy-2:3128"]
# The following one-liner can be used to automatically add all the hosts
# defined in the cvmfslocalproxies group to cvmfs_http_proxes,
# using port number 3128.
# cvmfs_http_proxies = "{{ groups.cvmfslocalproxies | map('regex_replace', '^(.*)$', '\\1:3128') | list }}"
