[secrets]
aws_secret_access_key = XXX
aws_access_key_id = XXX
github_pat = XXX
slack_webhook = https://hooks.slack.com/services/XXX/YYY/ZZZ

[paths]
download_dir = /where/to/store/download/tarballs
ingestion_script = /absolute/path/to/ingest-tarball.sh
metadata_file_extension = .meta.txt

[signatures]
signatures_required = no
signature_file_extension = .sig
signature_verification_script = /absolute/path/to/sign_verify_file_ssh.sh
allowed_signers_file = /path/to/allowed_signers

[aws]
staging_buckets = {
    "software.eessi.io-2023.06": "software.eessi.io",
    "dev.eessi.io-2024.09": "dev.eessi.io",
    "riscv.eessi.io-20240402": "riscv.eessi.io" }

[cvmfs]
ingest_as_root = yes

[github]
staging_repo = EESSI/staging
failed_ingestion_issue_body = Ingestion for tarball `{tarball}` has failed.
    
    Ingestion command:
    ```
    {command}
    ```
    
    Return code:
    {return_code}
    
    Stdout:
    ```
    {stdout}
    ```
    
    Stderr:
    ```
    {stderr}
    ```
failed_tarball_overview_issue_body = An error occurred while trying to get the contents of `{tarball}`.
    
    Error message:
    ```
    {error}
    ```
pr_body = A new tarball has been staged for {pr_url}.
    Please review the contents of this tarball carefully.
    Merging this PR will lead to automatic ingestion of the tarball to the repository {cvmfs_repo}.
    
    <details>
    <summary>Metadata of tarball</summary>
    
    ```
    {metadata}
    ```
    
    </details>

    <details>
    <summary>Overview of tarball contents</summary>
    
    {tar_overview}
    
    </details>

[slack]
ingestion_notification = yes
ingestion_message = Tarball `{tarball}` has been ingested into the CVMFS repository `{cvmfs_repo}`.

[logging]
level = WARN
format = %%(levelname)s:%%(message)s
# Use filename = None or remove the line for logging to stdout
filename = automated_ingestion.log
