# This file is used as metadata file for the generation of client packages.
# See: https://github.com/kentik/pkg
meta:
  description: {{ package_description }}
  vendor: {{ package_vendor }}
  maintainer: {{ package_maintainer }}
files:
{% for file in pkg_files.files %}
  "{{ file.path | regex_replace(package_source_dir) }}":
    file: "{{ file.path | regex_replace(package_source_dir + '/package/') }}"
    user: "root"
{% endfor %}
