##
## This file is managed by Ansible.  ALL CHANGES WILL BE OVERWRITTEN.
##

# Contact dual-stack websites over IPv4 first
dns_v4_first on

{% for port in cvmfs_stratum1_http_ports %}
http_port {{ port }} accel
{% endfor %}
http_access allow all
cache_peer 127.0.0.1 parent {{ cvmfs_stratum1_apache_port_with_squid }} 0 no-query originserver

{% if cvmfs_stratum1_cache_dir is defined %}
cache_dir ufs {{ cvmfs_stratum1_cache_dir.dir }} {{ cvmfs_stratum1_cache_dir.size }} 16 256
{% endif %}
#maximum_object_size 1024 MB

cache_mem {{ cvmfs_stratum1_cache_mem }} MB
# CERN config examples use 128 KB for both local proxies and stratum 1, but
# data objects are larger than this
maximum_object_size_in_memory 4 MB

visible_hostname {{ inventory_hostname }}
