---
# vars file for eessi project

# Automatically configure EESSI CVMFS repos.
eessi_cvmfs_repos_enabled: true

# Email address for the project.
eessi_email: support@eessi.io

#
# Defaults for eessi.io repos.
#

# We do not use a config repo anymore.
eessi_cvmfs_config_repo: {}

# Public keys for the repositories, which you can find on the Stratum 0 at:
# /etc/cvmfs/keys/*.pub
# Note: you first have to run the stratum0.yml playbook once to generate the repositories and keys.
eessi_cvmfs_keys:
  - path: /etc/cvmfs/keys/eessi.io/eessi.io.pub
    key: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyau1UFUcoiqpE5U9StON
      W0Trc3PM02AA5kYgknrqZJdusj5PcNg7rhOnrd+SX8BIiVtVMr6mqORXsJ2FNydJ
      lfm512GcmurM154m6Hz4I+UttcpVLe1CvlyxjjCrN0siSiPnLDONy3Ih1PWyRlA/
      sobSaIhx3Vyn1IzC0nbjstKObAYJs2kjokS+cipX2oIXJSoxkhvXcxmiMCi2GQIs
      KTQDT+bATs9eK+ZqY4n5x8VX87AlMBQuSCP5mA8VQPx4aCf8AjHWAn3qmPrhk3od
      Z/Cl9vrYzoWJT1HOyumv7aEv7UlY81++3w/AwYKXLJI6ioop2AotjrUm3w2U3+k7
      WQIDAQAB
      -----END PUBLIC KEY-----

# URLs for all the Stratum 1 servers.
eessi_cvmfs_server_urls:
  - domain: eessi.io
    use_geoapi: true
    urls:
      - "http://aws-eu-central-s1.eessi.science/cvmfs/@fqrn@"
      - "http://azure-us-east-s1.eessi.science/cvmfs/@fqrn@"
      - "http://ral-uk-s1.eessi.science:8000/cvmfs/@fqrn@"

# Configuration of all the repositories.
eessi_cvmfs_repositories:
  - repository: software.eessi.io
    stratum0: aws-eu-west-s1-sync.eessi.science
    owner: "{{ cvmfs_repo_owner | default('root') }}"
    key_dir: /etc/cvmfs/keys/eessi.io
    server_options:
      - CVMFS_AUTO_GC=false
      - CVMFS_AUTO_TAG_TIMESPAN="30 days ago"
      - CVMFS_GARBAGE_COLLECTION=true
    client_options: []
    use_for_ci: false
    description: "Repository that contains the EESSI software stacks."
  - repository: riscv.eessi.io
    stratum0: aws-eu-west-s1-sync.eessi.science
    owner: "{{ cvmfs_repo_owner | default('root') }}"
    key_dir: /etc/cvmfs/keys/eessi.io
    server_options:
      - CVMFS_AUTO_GC=false
      - CVMFS_AUTO_TAG_TIMESPAN="30 days ago"
      - CVMFS_GARBAGE_COLLECTION=true
    client_options: []
    use_for_ci: false
    description: "Repository for developing an EESSI software stack for RISC-V."
  - repository: dev.eessi.io
    stratum0: aws-eu-west-s1-sync.eessi.science
    owner: "{{ cvmfs_repo_owner | default('root') }}"
    key_dir: /etc/cvmfs/keys/eessi.io
    server_options:
      - CVMFS_AUTO_GC=false
      - CVMFS_AUTO_TAG_TIMESPAN="30 days ago"
      - CVMFS_GARBAGE_COLLECTION=true
    client_options: []
    use_for_ci: false
    description: "Development repository for EESSI."

# Meta information for CVMFS Stratum servers
cvmfs_server_meta_administrator: "EESSI CVMFS Administrators"
cvmfs_server_meta_email: "{{ eessi_email }}"
cvmfs_server_meta_organisation: "EESSI"
cvmfs_server_meta_custom:
  _comment: "See https://eessi.io/docs/ for more information about the EESSI repository."
cvmfs_server_meta_website: "https://eessi.io"

# Override all the Galaxy defaults by our EESSI defaults.
# This is required, beucase the galaxy_* variables are used inside the Ansible tasks.
galaxy_cvmfs_config_repo: "{{ eessi_cvmfs_config_repo }}"
galaxy_cvmfs_keys: "{{ eessi_cvmfs_keys }}"
galaxy_cvmfs_server_urls: "{{ eessi_cvmfs_server_urls }}"
galaxy_cvmfs_repositories: "{{ eessi_cvmfs_repositories }}"
galaxy_cvmfs_repos_enabled: "{{ eessi_cvmfs_repos_enabled }}"
